[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[user]
	name = Rajath Agasthya
	email = rajagast@cisco.com
[core]
	autocrlf = input
	safecrlf = true
[alias]
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  unstage = reset HEAD 
  pull = pull --rebase 
  last = log -1 HEAD 
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[gitreview]
	username = rajagast
[color]
	ui = always
