[filter "media"]
    required = true
    clean = git media clean %f
    smudge = git media smudge %f
[user]
    name = Rajath Agasthya
    email = ragasthya@vmware.com
[core]
    autocrlf = input
    safecrlf = warn
    editor = /usr/local/bin/vim
    attributesfile = /Users/ragasthya/.gitattributes
    excludesfile = /Users/ragasthya/.gitignore
[alias]
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  unstage = reset HEAD 
  last = log -1 HEAD 
  change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "
  change = codereview change
  gofmt = codereview gofmt
  mail = codereview mail
  pending = codereview pending
  submit = codereview submit
  sync = codereview sync
  b = "!git branch -q -a --color=always | sed -e 's/^..//' -e '/->/d' | fzf --ansi --preview-window right:75% --preview 'git log -n $(( $( tput lines ) - 3 )) --color=always --pretty=reference {}' | xargs git switch"
  ci = duet-commit
[gitreview]
    username = rajagast
[color]
    ui = always
[rerere]
    enabled = true
[pull]
    rebase = true
[diff]
    colorMoved = default
[rebase]
    autosquash = true
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[commit]
    gpgsign = true
[init]
    defaultBranch = main
