[filter "media"]
    required = true
    clean = git media clean %f
    smudge = git media smudge %f
[user]
    name = Rajath Agasthya
    email = rajathagasthya@gmail.com
[core]
    autocrlf = input
    safecrlf = true
    editor = /usr/local/bin/vim
    attributesfile = /Users/rajagast/.gitattributes
[alias]
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  unstage = reset HEAD 
  last = log -1 HEAD 
  change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "
  change = codereview change
  gofmt = codereview gofmt
  mail = codereview mail
  pending = codereview pending
  submit = codereview submit
  sync = codereview sync
[filter "hawser"]
    clean = git hawser clean %f
    smudge = git hawser smudge %f
    required = true
[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true
[gitreview]
    username = rajagast
[color]
    ui = always
[rerere]
    enabled = true
[pull]
    rebase = true
[diff]
    colorMoved = default
[rebase]
    autosquash = true

